<div class="parent-flex-grid">
  <div class="grid-col-sm grid">
    <section>
      <%@accounts.each do |account| %>
        <div class="account-detailed-icon">



          <div class="box">
          	<a href="#popup1"><img class="close" src="images/close_icon.png"></a>
          </div>
          <div id="popup1" class="overlay">
          	<div class="popup">
          		<h2>Are you sure?</h2>
          		<a class="close" href="#">&times;</a>
          		<div class="content">
          			<p>Deleting a card will also delete all associated transactions from your transaction table. Are you sure you want to do this?</p>
                <form action="/accounts/<%=account.id%>/delete" method="POST" class="delete-button-tr">
                  <input type="submit" value="I'm Sure!" class="delete-button-tr">
                </form>
              </div>
          	</div>
          </div>

          <img src="<%=account.image%>">
            <div class="account-text">
              <h3><%=account.name%></h3>
              <h3 id=<%="warning-text" if account.balance < 0 %> >£<%=account.formatted_balance%></h3>
            </div>
            <a href="/balance/<%=account.id%>/edit"><img src="/images/add_money.png" id="add-money-icon"></a>
      </div>
      <%end%>
    </section>
  </div>

  <div class="grid-col-md grid">
    <section>
      <% @categories.each do |category| %>
        <div class="detailed-category-icons">
          <a href="/categories/<%=category.id%>">
            <img class="cat-icon" src=<%=category.image%>>
          </a>
          <div class="category-text">
            <div class="box">
              <a href="#popup2"><img class="close" src="images/close_icon.png"></a>
            </div>
            <div id="popup2" class="overlay">
              <div class="popup">
                <h2>Are you sure?</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                  <p>Deleting a category will also delete all associated transactions from your transaction table. Are you sure you want to do this?</p>
                  <form action="/category/<%=category.id%>/delete" method="POST" class="delete-button-tr">
                    <input type="submit" value="I'm Sure!" class="delete-button-tr">
                  </form>
                </div>
              </div>
            </div>
            <h3><%=category.name%></h3>
            <p>£<%=category.total()%></p>
            <p><%=category.percentage_of_total()%>%</p>
          </div>
        </div>
        <% end %>
    </section>
  </div>

  <div class="grid-col-lg grid" style="overflow-y:auto;">
    <aside>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Transaction</th>
            <th>Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @transactions.each do |transaction| %>
          <tr>
            <td><img src="<%=transaction.category['image']%>"</td>
            <td><%=transaction.name%></td>
            <td>£<%=transaction.formatted_amount%></td>
            <td>

              <form action="/transactions/<%=transaction.id%>/delete" method="POST">
                <input type="submit" value="Delete">

                <img src="images/close_icon.png">
              </form>

            </td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <td colspan="4"><%= Transaction.total %></td>
        </tfoot>
      </table>
    </aside>
  </div>
</div>

<div id="bottom-bar">
  <div id="bottom-bar-contents">
    <div class="grid-col-sm grid">
      <a href="/accounts/new"><button class="bottom-button">+ Account</button></a>
    </div>
    <div class="grid-col-md grid">
      <a href="/categories/new"><button class="bottom-button">+ Category</button></a>
    </div>
    <div class="grid-col-lg grid">
      <a href="/transactions/new"><button class="bottom-button">+ Transaction</button></a>
    </div>
  </div>
</div>
