<section>
<!-- card buttons -->
<!-- default button to show all accounts -->
</section>

<section>
  <% @categories.each do |category| %>
    <h3><%=category.total()%></h3>
    <img src=<%=category.image%>>
    <p><%=category.name%></a>
  <% end %>
</section>

<aside>
  <table>
    <thead>
      <tr>
        <th>Tag</th>
        <th>Transaction</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
      <tr>
        <td><img src="<%=transaction.category['image']%>"</td>
        <td><%=transaction.name%></td>
        <td><%=transaction.amount%></td>
        <td>
          <form action="/transactions/<%=transaction.id%>/delete" method="POST">
          <input type="submit" value="delete" />
          </form>
        </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <td></td>
      <td></td>
      <td>Total</td>
      <td><%= Transaction.total %></td>
    </tfoot>
  </table>

  <a href="/categories/new"><input type="button" value="Add Category"></a>
  <a href="/transactions/new"><input type="button" value="Add Transaction"></a>
</aside>
